In [ ]:
import mysql.connector as connector

In [ ]:
connection=connector.connect( user='root', password='root', db= 'LittleLemonDB')

In [ ]:
cursor=connection.cursor()

In [ ]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)
results= cursor.fetchall()
for tables in results:
    print(tables)

In [ ]:
SQL_Join_Query="""
SELECT CONCAT(customers.CustomerFirstName, ' ', customers.CustomerLastName) AS FullName,
customers.PhoneNumber, orders.TotalCost AS 'BillAmount'
FROM customers, bookings, orders
WHERE customers.CustomerID = bookings.CustomerID
AND bookings.BookingID = orders.BookingID
AND orders.TotalCost > 60;"""
#Executing Query
cursor.execute(SQL_Join_Query)
#Fetching Records
results = cursor.fetchall()
#Grabbing Column Names
columns = cursor.column_names

#Pint Columns
print(columns)
#Print Results
for row in results:
    print(row)

In [ ]:
cursor.close()
connection.close()